h1,
h2,
p,
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a,
button,
svg {
  cursor: url('../assets/pointer.svg'), pointer;
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-oyster: #8dc9f7;
  --color-rhubarb: #d7866b;
  --color-cheesecake: #f5e1ad;
  --color-pumpkin: #ff6800;
  --color-roast: #552f0f;
  --color-pea: #85be00;
  --color-latte: #ddcdae;
  --color-grey: #828282;

  --font-serif: 'Cormorant Infant', serif;
  --font-sans: 'Montserrat', sans-serif;
  --font-heading: 'Indie Flower', cursive;
}

body {
  min-height: 100vh;
  font-family: monospace;
  background-color: var(--color-oyster);
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-bottom: 1px solid var(--color-black);
  padding-bottom: 0.5rem;
}

h1 {
  font-family: var(--font-heading);
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: var(--color-black);

  display: flex;
  align-items: end;
  gap: 0.5rem;

  position: relative;
  bottom: -10px;
}

h1.hidden {
  display: none;
}

h1 .bokhandel {
  display: flex;
  align-items: end;
}

h1 .bokhandel span:nth-child(1) {
  font-size: 1.9rem;
}
h1 .bokhandel span:nth-child(2) {
  font-size: 2.5rem;
}
h1 .bokhandel span:nth-child(3) {
  font-size: 3rem;
}
h1 .bokhandel span:nth-child(4) {
  font-size: 3.2rem;
}
h1 .bokhandel span:nth-child(5) {
  font-size: 2.4rem;
}

header svg {
  width: 1.7rem;
}

.menu {
  display: none;
  background-color: var(--color-rhubarb);
  padding: 8rem 1rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  gap: 4rem;
}

.menu.open {
  display: flex;
  position: fixed;
  inset: 0;
  z-index: 10;

  flex-direction: column;
}

.close-icon {
  display: none;
}

.menu-button {
  position: relative;
  z-index: 11;
  background-color: inherit;
  border: none;
  padding: 0;
}

.menu-button.open .menu-icon {
  display: none;
}

.menu-button.open .close-icon {
  display: block;
}

body.menu-open {
  overflow: hidden;
}

header.search-open > *:not(.search-form) {
  display: none;
}

header.search-open .search-form {
  display: flex;
  width: 100%;
}

.close-search {
  background-color: inherit;
  border: none;
}

.search-form {
  display: none;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.search-input {
  width: 100%;
  padding: 0.8rem;
  background-color: inherit;
  border: 1px solid black;
  outline: none;

  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

header .icons {
  display: flex;
  gap: 1.2rem;
}

.menu-icon {
  display: block;
}
.menu-icon.hidden {
  display: none;
}

.basket-icon {
  display: block;
}
.basket-icon.hidden {
  display: none;
}

.search-icon {
  display: block;
}
.search-icon.hidden {
  display: none;
}

nav {
  margin-bottom: 0.7rem;
}

.categories a,
.sort {
  font-family: var(--font-serif);
  font-weight: 300;
  font-style: italic;
  font-size: 1.2rem;
  text-transform: lowercase;
  letter-spacing: 0.1rem;
  color: inherit;
}

.categories a:focus {
  border-bottom: 1px solid var(--color-black);
}

nav .categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem 2.3rem;
  align-items: center;
  padding-block: 1rem 2rem;
}

nav .sort:focus {
  border: none;
}

nav .sort .arrow {
  font-style: normal;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  bottom: 3.5px;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
}

.product {
  width: 100%;
  background: white;
}

.product img {
  width: 100%;
  aspect-ratio: 3 / 4.8;
  object-fit: cover;
}

.product h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-inline: 1rem;
}

.product p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  padding-inline: 1rem;
}

.product p:last-child {
  padding-bottom: 1rem;
}

/* Tablet */
@media (min-width: 768px) {
  header {
    align-items: center;
    padding-top: 1rem;
  }

  header .add {
    display: none;
  }

  h1 {
    font-size: 3rem;
  }

  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  nav a {
    font-size: 1.45rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  body {
    padding: 2.5rem;
  }

  header {
    padding-top: 0;
    gap: 5rem;
  }

  header img {
    width: 900px;
  }

  h1 {
    font-size: 3.8rem;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-block: 1.6rem;
  }

  nav a:hover {
    border-bottom: 1px solid black;
  }

  .search-form {
    margin-bottom: 1rem;
  }

  .search {
    width: 40rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: inherit;
    border: 1px solid black;
  }

  .search:focus {
    outline: none;
  }

  nav .sort {
    display: block;
    margin-left: auto;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .products {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }

  .product {
    width: 100%;
    background: white;
  }

  .product:hover {
    transform: translateY(-8px);
  }

  .product h2 {
    font-size: 1.3rem;
    font-weight: 100;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-inline: 1rem;
  }

  .product p {
    padding-inline: 1rem;
  }

  .product p:last-child {
    padding-bottom: 1rem;
  }
}

/* Stor desktop */
@media (min-width: 1440px) {
}
