h1,
h2,
p,
body {
  margin: 0;
}

a,
button,
svg {
  cursor: url('../assets/pointer.svg'), pointer;
}

body {
  min-height: 100vh;
  font-family: monospace;
  background-color: #8dc9f7;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: rgb(38, 9, 9);

  display: flex;
  align-items: end;
  gap: 0.5rem;

  position: relative;
  bottom: -10px;
}

h1.hidden {
  display: none;
}

h1 .bokhandel {
  display: flex;
  align-items: end;
}

h1 .bokhandel span:nth-child(1) {
  font-size: 1.9rem;
}
h1 .bokhandel span:nth-child(2) {
  font-size: 2.5rem;
}
h1 .bokhandel span:nth-child(3) {
  font-size: 3rem;
}
h1 .bokhandel span:nth-child(4) {
  font-size: 3.2rem;
}
h1 .bokhandel span:nth-child(5) {
  font-size: 2.4rem;
}

header svg {
  width: 1.7rem;
}

header.search-open > *:not(.search-form) {
  display: none;
}

header.search-open .search-form {
  display: flex;
  width: 100%;
}

.close-search {
  background-color: inherit;
  border: none;
}

.search-form {
  display: none;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.search-input {
  width: 100%;
  padding: 0.8rem;
  background-color: inherit;
  border: 1px solid black;
  outline: none;

  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

header .icons {
  display: flex;
  gap: 1.2rem;
}

.menu-icon {
  display: block;
}
.menu-icon.hidden {
  display: none;
}

.basket-icon {
  display: block;
}
.basket-icon.hidden {
  display: none;
}

.search-icon {
  display: block;
}
.search-icon.hidden {
  display: none;
}

nav {
  margin-bottom: 0.7rem;
}

nav a {
  font-family: 'Cormorant Infant', serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1.2rem;
  text-transform: lowercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  color: inherit;
}

nav a:focus {
  border-bottom: 1px solid black;
}

nav .categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem 2.3rem;
  align-items: center;
  padding-block: 1rem 2rem;
}

nav .sort:focus {
  border: none;
}

nav .sort .arrow {
  font-style: normal;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  bottom: 3.5px;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
}

.product {
  width: 100%;
  background: white;
}

.product img {
  width: 100%;
  aspect-ratio: 3 / 4.8;
  object-fit: cover;
}

.product h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-inline: 1rem;
}

.product p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  padding-inline: 1rem;
}

.product p:last-child {
  padding-bottom: 1rem;
}

/* Tablet */
@media (min-width: 768px) {
  header {
    align-items: center;
    padding-top: 1rem;
  }

  header .add {
    display: none;
  }

  h1 {
    font-size: 3rem;
  }

  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  nav a {
    font-size: 1.45rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  body {
    padding: 2.5rem;
  }

  header {
    padding-top: 0;
    gap: 5rem;
  }

  header img {
    width: 900px;
  }

  h1 {
    font-size: 3.8rem;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-block: 1.6rem;
  }

  nav a:hover {
    border-bottom: 1px solid black;
  }

  .search-form {
    margin-bottom: 1rem;
  }

  .search {
    width: 40rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: inherit;
    border: 1px solid black;
  }

  .search:focus {
    outline: none;
  }

  nav .sort {
    display: block;
    margin-left: auto;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .products {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }

  .product {
    width: 100%;
    background: white;
  }

  .product:hover {
    transform: translateY(-8px);
  }

  .product h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    font-weight: 100;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-inline: 1rem;
  }

  .product p {
    padding-inline: 1rem;
  }

  .product p:last-child {
    padding-bottom: 1rem;
  }
}

/* Stor desktop */
@media (min-width: 1440px) {
}
